body{
    background: #E6DAD1;
}
main{
    display: flex;
    height: 100vh;
}

section{
    height: 100vh;

}

html{
    scroll-behavior: smooth;
}

.left{
    flex: left;
    width: 45%;
    height: 100%;
    background: #E6DAD1;
}

.left h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 180px;
}

.left h2{
    
    font-size: 50px;
}

.left p,h2,h1,input{
    text-align: center;
    color: #9D5A4D;
}
.btn{
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    border: 1px solid;
    border-radius: 10px;
    background-color: #F6F1EE;
    color: #9D5A4D;
    cursor: pointer;
}

.right{
    float:right;
    width: 55%;
    background: white;
    height: 100%;
}

.face1{
    height: 100vh;
    width: 100%;
}



/* page 3*/
#page3{
    background: #F6F1EE;
    display: flex;
    width: 100%;
}
.cover{
    flex: left;
    width: 45%;
    height: 100%;
    margin-top: 70px;
}

.img{
    float:right;
    width: 50%;
    height: 100%;
}

#page3 h1{
    width: fit-content;
    margin-left: 55px;
    font-size: 25px;
}

#page3 p{
    margin-left: 100px;
    width: 260px;
    font-size: 30px;
}


#page3 img{
    height: 560px;
    width: 530px;
    margin-right: 160px;
    margin-top: 70px;
}

/*end of page 3*/
/*Page2*/
#page2{
    background: #9D5A4D;
}

.img1{
    
    margin-top: 125px;
    width: 300px;
    height: 450px;
    margin-left: 90px;
}
.column {
    float: left;
    width: 30.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #page2 h3{

    font-family: Georgia;
    margin-top: 135px;
    margin-left: 75px;
    color: #E6DAD1;
    font-size: 25px;
  }

.p1{

    color: #E6DAD1;
    font-family: Georgia;
    margin-left: 75px;
    font-size: 20px;
    margin-top: 75px;

}

.img2{
    margin-top: 200px;
    width: 250px;
    height:250px;
    margin-left: 90px;
}

.p2{

    color: #E6DAD1;
    font-family: Georgia;
    margin-left: 75px;
    font-size: 18px;
    margin-top: 85px;

}

/*Page4*/
#page4{

    background:#9D5A4D ;

}

#page4 h2{
   
    color: #E6DAD1 ;
    margin-top: 0px;
    padding-top: 45px;
    font-size: 35px;
   
}

.column1 {
    float: left;
    padding: 5px;

  }
.im1{
    margin-top: 50px;
    width: 200px;
    height: 250px;
    margin-left: 90px;
}
.im2{
    margin-top: 50px;
    width: 200px;
    height: 250px;
    margin-left: 90px;

}
.im3{
    margin-top: 50px;
    width: 200px;
    height: 250px;
    margin-left: 90px;
}
.im4{
    margin-top: 50px;
    width: 200px;
    height: 250px;
    margin-left: 90px;
}

.btn2{
    align-items: center;
    justify-content: center;
    margin-left: 570px;
    margin-top: 400px;
    
}
.btn2 button{

    font-size: 20px;
    height: 50px;
    border-radius: 25px;
    
}



/*last page*/

#page5{
    background: #E6DAD1;
    height: fit-content;
}
.items{
    display: flex;
}

#page5 h2{
    padding-top: 100px;
}

#page5 h1{
    width: 100%;
    padding-bottom: 30px;
}

#page5 h4{
    font-size: 25px;
    color: #9D5A4D;
}
.left-side{
    flex: left;
    width: 25%;
    margin-left: 10px;
}

.left-side p{
    font-size: 24px;
    color: #9D5A4D;
}

.right-side{
    float:right;
    width: 72%;
    margin-left: 10px;
}


.right-side div{
    float: right;
    width: 33%;
    margin-left: 0px;
}

#page5 p{
    color: #9D5A4D;
}

/*end of last page*/